{% extends "quickpages/base.html" %}

{% block css %}
  {{ block.super }}

<style type="text/css">
  h1 {
    font-size: 2.5rem;
}
  .xxbig {
    font-size: larger;
}
</style>

{% endblock css %}


{% block breadcrumbs %}
  {% if breadcrumbs %}
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>

      <li><a href="/press/" title="eRacks Press Releases and News">Press</a></li>

      <li class="current">
        <a href="#" title="{{ title }}">{{ name|capfirst }}</a>
      </li>
    </ul>

  {% endif %}
{% endblock %}