{% extends "admin/change_form.html" %}
{# % load i18n admin_modify adminmedia % #}


{% block after_field_sets %}

<fieldset class="module aligned wide collapse collapsed">
  <h2>Helper Links</h2>
  <br>
  <h3>
    <a href="/admin/products/prodopt/?product__sku={{ original }}">
      ProdOpt list (with Default Choice(s)) for <b>{{ original }}</b>
    </a>
  </h3>
  <br>
  <h3>
    <a href="/admin/products/option/?prodopt__product__sku={{ original }}">
      Option list for options referenced by <b>{{ original }}</b>
    </a>
  </h3>
  <br>
</fieldset>


{% comment %}

DEPRECATED: POC's

<fieldset class="module aligned wide">
  <h2>Product Option Choices by Product</h2>
  <br>
  <h3>
    <a href="/admin/products/prodoptchoice/?productoption__product__id__exact={{ original.id }}">
      Go to Product Option Choice list details for <b>{{ original }}</b>
    </a>
  </h3>
  <br>
</fieldset>

<fieldset class="module aligned wide">
  <h2>Product Option Choices by Product-Option</h2>
  <br>

  {% for po in original.prodopt_set.all %}

  <h3>
    <a href="/admin/products/prodoptchoice/?productoption__id__exact={{ po.id }}">
      Go to Product Option Choice details for <b>{{ po }}</b>
    </a>
  </h3>

  {% endfor %}

</fieldset>

{% endcomment %}

{% endblock %}
